.logo_place_header-ru {
  position: absolute;
  top: 70px;
  left: 64px;
  background-image: url(../../../images/logo_place_header.svg);
}

.logo_place_header-en {
  position: absolute;
  top: 70px;
  left: 64px;
  background: no-repeat left/contain url(../../../images/logo_place_header_EN.png);
}
